* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #50633C;
    color: #333333;
}

/*--bookworm green back ground
bookish black font color
font arial
 */